.Resizer {
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 16px;
  border-left: 1px solid #e4e4e7;
  cursor: row-resize;
  width: 100%;
  background: url('../../assets/horizontalDotsIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.Resizer.vertical {
  width: 15px;
  cursor: col-resize;
  background: url('../../assets/verticalDotsIcon.svg'),
    linear-gradient(180deg, #f4f4f5 0%, #ffffff 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
